<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <p class="lead">At Hachi &amp; Co—fondly known as Hachico—we believe in creating possibilities. Inspired by
        the octopus, our name reflects its eight tentacles, a symbol of versatility, adaptability, and
        expertise. In Japanese, “Hachi” means “eight,” while “Hachiko” holds a special place in our
        hearts as the middle name of our feisty and ever-curious dog. Like Hachiko, who embraces
        the world with boundless energy and a thirst for discovery, we approach every challenge with
        a passion for learning, adapting, and crafting innovative solutions.</p>
        <p class="lead">Hachico is more than just a company; it’s a philosophy. We look at the big picture without
        losing sight of the details. By simplifying complexity, amplifying ideas, and collaborating with
        care, we deliver solutions that resonate and results that matter.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
